<footer class="footer">
    <div class="col-md-6">
      <p>Clock+</p>
      <p>email:s3653114@student.rmit.edu.au</p>
      <p>student number:s3653114</p>
      <p>attept grade level: Credit LEVEL</p>
    </div>


  
    <div class = "right2" >
       <p>Share Social</p>

       <%= link_to image_tag("facebook.png", alt: "facebook logo"),'https://www.facebook.com/'%>

       <%= link_to image_tag("twitter.png", alt: "twitter logo"),'https://twitter.com/'%>

       <%= link_to image_tag("linkedin.png", alt: "linkedin logo"),'https://au.linkedin.com/'%>
    </div>
</footer>